fontfam = 'Roboto Condensed'

blue = #100100
orange = #ff2a00
lightOrange = #ff8957
green = #33cc33

hoverBlack = #313131
darkGrey = #959595
midGrey = #c1c2c3
lightGrey = #f2f2f2
tableGrey = #f3f3f3

fb-blue-1 = #2d4a7b
fb-blue-2 = #3d5e98

gplus-orange-1 = #d33b3f
gplus-orange-2 = #eb504c

linkedin-blue-1 = #166f95
linkedin-blue-2 = #187fab

cartColor = #959595
cartBg = #FFFFFF
