@import 'nib'
@import 'rupture'
@import './app/settings'

#playlist
  height 100%
  background-color black
  transition 500ms
  overflow hidden
  &.hide
    max-width 0
  .track-line
    width 350px

#main-wrap
  display flex