@import 'nib'
@import 'rupture'
@import './app/settings'

#playlist
  width 400px
  height 100%
  background-color black
  transition 500ms
  display flex
  &.hide
    width 0

#main-wrap
  display flex