<div id="player">
  <div class="fullbg" @click="odd = !odd">
    <div v-if="odd" transition="change" style="background-image: url(https://i.scdn.co/image/c7265744ca45109884237f501a052d978330e5de)">
      <header>
        <h1>The song that is playing</h1>
        <h2>Arist is <small>requested by lorem</small></h2>
      </header>
    </div>
  </div>
  <div class="fullbg" @click="odd = !odd">
    <div v-if="!odd" transition="change" style="background-image: url(https://i.scdn.co/image/c7265744ca45109884237f501a052d978330e5de)">
      <header>
        <h1>The song that is playing</h1>
        <h2>Arist is <small>requested by lorem</small></h2>
      </header>
    </div>
  </div>
  <canvas id='canvas' width="800" height="350"></canvas>
  <audio id="audioPlayer" autoplay></audio>
</div>
