@import 'nib'
@import 'rupture'
@import './app/settings'

#player
  position absolute
  overflow hidden
  top 0
  left 0
  width 100%
  height 100%

  .fullbg
    position absolute
    overflow hidden
    top 0
    left 0
    width 100%
    height 100%

    div
      width 100%
      height 100%
      background-position center
      background-repeat no-repeat
      background-size cover

      &:before
        content " "
        margin 0
        padding 0
        position fixed
        left 0
        top 0
        width calc(100%)
        height calc(100%)
        background-image url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADAQMAAABs5if8AAAAA3NCSVQICAjb4U/gAAAABlBMVEUAAAD///+l2Z/dAAAAAnRSTlP/AOW3MEoAAAAJcEhZcwAACusAAArrAYKLDVoAAAAWdEVYdENyZWF0aW9uIFRpbWUAMjUvMDQvMTHvvlk6AAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M1cbXjNgAAAA5JREFUCJljSGB4wPAAAAVmAiGdUf+vAAAAAElFTkSuQmCC")
        transition all .4s linear
        z-index -1
        opacity .8
        background-color: rgba(0,0,0,0.5);

      header
        position absolute
        width 100%
        text-align center
        color white
        font-weight 100
        bottom 50%

        h1
          font-size 4rem
          text-shadow 0px 0px 20px #000;

        h2
          margin-top 1rem
          font-size 2rem
          text-shadow 0px 0px 10px #000

          small
            font-size 1rem
            text-shadow 0px 0px 5px #000


      &.change-transition
        transition all 1s ease
        transform scale(1)

      &.change-enter
        transform scale(0)
        transform-origin 100% 0%
      &.change-leave
        transform scale(0)
        transform-origin 0% 100%


  canvas
    width 100%
    height 50%
    opacity 0.2
    position absolute
    bottom 0
    left 0
